In [15]:
import pandas as pd
import numpy as np
import re
file= "alldata.csv"

In [2]:
df = pd.read_csv(file)
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [3]:
del df['reviews']
del df['description']

In [4]:
df = df.dropna(how='all')

In [5]:
locations= df.groupby(['location'])
locations.count()

,position,company
location,,
"Alameda, CA",7,7
"Alameda, CA 94501",3,3
"Allendale, NJ",2,2
"Atlanta, GA",147,147
"Atlanta, GA 30301",14,14
"Atlanta, GA 30303",3,3
"Atlanta, GA 30306",1,1
"Atlanta, GA 30308",10,10
"Atlanta, GA 30309",12,12
"Atlanta, GA 30313",1,1
"Atlanta, GA 30318",27,27
"Atlanta, GA 30319",7,7
"Atlanta, GA 30322",1,1
"Atlanta, GA 30326",6,6
"Atlanta, GA 30327",2,2
"Atlanta, GA 30328",4,4
"Atlanta, GA 30329",1,1
"Atlanta, GA 30332",1,1
"Atlanta, GA 30338",19,19
"Atlanta, GA 30339",1,1
"Atlanta, GA 30341",3,3
"Atlanta, GA 30342",4,4
"Atlanta, GA 30345",1,1
"Atlanta, GA 30350",1,1
"Atlanta, GA 30361",1,1
"Atlanta, GA 30363",2,2
"Austin, TX",156,156
"Austin, TX 73344",7,7
"Austin, TX 78701",8,8
"Austin, TX 78702",3,3
...,...,...
"Walnut Creek, CA 94596",1,1
"Washington, DC",230,230
"Washington, DC 20001",20,20
"Washington, DC 20002",2,2
"Washington, DC 20003",7,7
"Washington, DC 20004",2,2
"Washington, DC 20005",14,14
"Washington, DC 20006",8,8
"Washington, DC 20007",1,1
"Washington, DC 20009",5,5
"Washington, DC 20010",1,1
"Washington, DC 20020",1,1
"Washington, DC 20022",4,4
"Washington, DC 20024",6,6
"Washington, DC 20032",1,1
"Washington, DC 20036",16,16
"Washington, DC 20037",8,8
"Washington, DC 20044",3,3
"Washington, DC 20229",1,1
"Washington, DC 20230",2,2
"Washington, DC 20301",1,1
"Washington, DC 20318",3,3
"Washington, DC 20376",1,1
"Washington, DC 20422",1,1
"Washington, DC 20535",1,1
"Washington, DC 20585",1,1
"West Orange, NJ 07052",1,1
"Whippany, NJ",1,1
"Woodcliff Lake, NJ",1,1
"Yonkers, NY 10701",1,1

In [18]:
citystatezip = df['location'].apply(lambda x: "".join(x.split(",")))
citystatezip2 = citystatezip.apply(lambda x: x.split(" "))
city = citystatezip2.apply(lambda x: x[0])
state = citystatezip2.apply(lambda x: x[1])
df['City'] = city
df['State'] = state

df.drop('location', axis=1)

,position,company,City,State,positiontxt
0,False,ALS TDI,Atlanta,GA,Development Director
1,False,The Hexagon Lavish,Atlanta,GA,An Ostentatiously-Excitable Principal Research...
2,True,Xpert Staffing,Atlanta,GA,Data Scientist
3,True,Operation HOPE,Atlanta,GA,Data Analyst
4,True,Emory University,Atlanta,GA,Assistant Professor -TT - Signal Processing & ...
5,True,McKinsey & Company,Atlanta,GA,Manager of Data Engineering
6,False,McKinsey & Company,Atlanta,GA,"Product Specialist - Periscope, New Ventures"
7,False,Wood,Atlanta,GA,"Junior to Mid-level Engineer, Geologist or Env..."
8,False,SunTrust,Atlanta,GA,Analyst - CIB Credit Research
9,True,KPMG,Atlanta,GA,Senior Associate - Cognitive Data Scientist Na...
10,False,The Home Depot,Atlanta,GA,STATISTICAL FORECAST ANALYST
11,False,Chenega Corporation,Atlanta,GA,Health Scientist III-CPTS
12,True,KPMG,Atlanta,GA,"Senior Associate, Data Scientist"
13,False,Emory University,Atlanta,GA,Assistant Scientist (AR) SOM
14,True,Newell Brands,Atlanta,GA,Business Intelligence Data Science Analyst - S...
15,True,Cotiviti,Atlanta,GA,Data Scientist
16,False,Burns & McDonnell,Atlanta,GA,Senior Structural Engineer-Transmission & Dist...
17,False,Perficient,Atlanta,GA,Senior Mobile Developer (iOS/Android)
18,True,Relus Cloud,Atlanta,GA,Data Scientist
19,True,Inspire Brands,Atlanta,GA,Data Scientist
20,False,Burns & McDonnell,Atlanta,GA,Senior Electrical Engineer
21,False,KPMG,Atlanta,GA,"Sr. Manager, Full Stack Development, KPMG Tax ..."
22,True,Norfolk Southern Corp,Atlanta,GA,Data Scientist
23,True,The Home Depot,Atlanta,GA,DATA SCIENTIST - Supply Chain
24,True,Equifax,Atlanta,GA,"Data Scientist, Keying & Linking"
25,True,AirSage,Atlanta,GA,Data Scientist
26,True,The Home Depot,Atlanta,GA,Data Scientist 1 – AP Forensics Team
27,True,Georgia Tech Research Institute,Atlanta,GA,Data Scientist - ICL
28,True,The Home Depot,Atlanta,GA,"Data Scientist, Online"
29,True,Capgemini,Atlanta,GA,Data Scientist - CONSULTANT Level - ORLANDO FL...
...,...,...,...,...,...
6934,True,Google,Sunnyvale,CA,"Data Scientist, Cloud Revenue Acceleration, Go..."
6935,True,Microsoft,Sunnyvale,CA,Data & Applied Scientist
6936,True,Amazon.com,Sunnyvale,CA,Data Scientist - Alexa Language Technologies
6937,True,Arosys,Sunnyvale,CA,Data Scientist / Data Analyst
6938,True,Lab126,Sunnyvale,CA,"Data Scientist, Customer Interests & Personali..."
6939,True,Amazon.com,Sunnyvale,CA,"Data Scientist, Customer Interests & Personali..."
6940,True,Microsoft,Sunnyvale,CA,Principal Data Scientist
6941,True,Google,Sunnyvale,CA,"Data Scientist, Engineering Support Analytics,..."
6942,False,Amazon.com,Sunnyvale,CA,Applied Scientist
6943,True,Walmart eCommerce,Sunnyvale,CA,Staff Data Scientist
6944,True,Walmart eCommerce,Sunnyvale,CA,"Staff Data Scientist, Search/Online Grocery"
6945,True,Google,Sunnyvale,CA,"Machine Learning Specialist, Trust and Safety"
6946,False,Amazon.com,Sunnyvale,CA,Research Scientist
6947,True,Amazon.com,Sunnyvale,CA,Applied Machine Learning Scientist
6948,False,Microsoft,Sunnyvale,CA,Scientist
6949,True,Alibaba,Sunnyvale,CA,Systems software Performance Data Scientist Su...
6950,False,Amazon.com,Sunnyvale,CA,Applied Scientist - Alexa Engine
6951,True,TARGET,Sunnyvale,CA,Lead Data Scientist - NLP
6952,False,Whiterabbit.ai,Sunnyvale,CA,Image processing Deep learning Research Scientist
6953,True,Amazon.com,Sunnyvale,CA,"Machine Learning Scientist, Amazon Alexa"
6954,False,Google,Sunnyvale,CA,"Global Mobility Specialist, Immigration"
6955,True,Amazon.com,Sunnyvale,CA,Data Engineer
6956,True,Amazon.com,Sunnyvale,CA,"Manager, Machine Learning"
6957,True,TARGET,Sunnyvale,CA,Lead Data Scientist - Haskell
6958,True,Walmart,Sunnyvale,CA,Senior Data Scientist (GEC11902)
6959,True,NetApp,Sunnyvale,CA,Data Developer / Machine Learning Analyst
6960,False,"Pharmacyclics, an Abbvie Company",Sunnyvale,CA,Scientist I
6961,False,Oath Inc,Sunnyvale,CA,Intern Scientist
6962,True,Microsoft,Sunnyvale,CA,Senior Data & Applied Scientist
6963,True,Comcast,Sunnyvale,CA,"Principal Data Scientist, Deep Learning"

In [16]:
# running our 'query' through the position column, marking found words as true
try:
  df = df.rename(columns={"positiontxt":"position"})
  df['position'] = df[df['position'].str.contains('data|science|database|analytics|statistician|machine learning|business intelligence',
                                                  flags=re.IGNORECASE, regex=True)]

except AttributeError:
  print("stupid error makes no sense")


# df.count()

In [17]:
df['position']
df = df.dropna(how='any')
# df['position']

,position,company,location,City,State,positiontxt
0,False,ALS TDI,"Atlanta, GA 30301",Atlanta,GA,Development Director
1,False,The Hexagon Lavish,"Atlanta, GA",Atlanta,GA,An Ostentatiously-Excitable Principal Research...
2,True,Xpert Staffing,"Atlanta, GA",Atlanta,GA,Data Scientist
3,True,Operation HOPE,"Atlanta, GA 30303",Atlanta,GA,Data Analyst
4,True,Emory University,"Atlanta, GA",Atlanta,GA,Assistant Professor -TT - Signal Processing & ...

In [ ]:
newdf = df[['company', 'position']].copy()
newdf['Counts'] = df.groupby(['company'])['position'].transform('count')

newdfclean = newdf.drop(newdf[newdf.Counts < 33].index)
newdfclean
newdfclean.loc[df.position.str.contains('analyst', case=False), 'Job Type'] = 'Analyst'
newdfclean.loc[df.position.str.contains('analysis', case=False), 'Job Type'] = 'Analyst'
newdfclean.loc[df.position.str.contains('analytics', case=False), 'Job Type'] = 'Analyst'
newdfclean.loc[df.position.str.contains('machine learning', case=False), 'Job Type'] = 'Machine Learning'
newdfclean.loc[df.position.str.contains('engineering', case=False), 'Job Type'] = 'Engineer'
newdfclean.loc[df.position.str.contains('engineer', case=False), 'Job Type'] = 'Engineer'
newdfclean.loc[df.position.str.contains('data science', case=False), 'Job Type'] = 'Data Scientist'
newdfclean.loc[df.position.str.contains('data scientist', case=False), 'Job Type'] = 'Data Scientist'
newdfclean.loc[df.position.str.contains('applied scientist', case=False), 'Job Type'] = 'Data Scientist'
newdfclean.loc[df.position.str.contains('applied science', case=False), 'Job Type'] = 'Data Scientist'
newdfclean.loc[df.position.str.contains('sales', case=False), 'Job Type'] = 'Business Intelligence'
newdfclean.loc[df.position.str.contains('business intelligence', case=False), 'Job Type'] = 'Business Intelligence'

newdfclean.sort_values('Counts', ascending=False)
# newdfclean.Counts.unique()

In [ ]:
print(plt.style.available)

In [ ]:
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 15})
plt.cm.BuPu(np.linspace(0, 0.5))
bplot= newdfclean.groupby(['company', 'Job Type']).size().unstack()


bplot.plot(kind='bar',stacked=True, figsize=(20,12), title="Who are the top companies looking for?")

plt.savefig('topcompanyjobs.png')

In [ ]:
#Get the state
state = df["location2"].str.split(",", n = 1, expand = True)
df['state'] = state[1]
df.head()

In [ ]:
#Dependencies to use the Google API for heatmaps
import requests
import json
import gmaps
from config import gkey
gmaps.configure(api_key=gkey)

In [ ]:
#Create a new df with only the distinct locations and include a column for longitude and latitude
distinct_locations_df = df[["location2","state"]]
distinct_locations_df["longitude"]=""
distinct_locations_df["latitude"]=""
distinct_locations_df = distinct_locations_df.drop_duplicates(keep='first', inplace=False)
distinct_locations_df

In [ ]:
#Iterate through the distinct locations dataframe and get the longitude and latitude
#After getting the long and lat, add to the DF
for index, row in distinct_locations_df.iterrows():
    target_city = row["location2"]
    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, gkey)
    geo_data = requests.get(target_url).json()
    try:
        distinct_locations_df.loc[index, 'longitude'] = geo_data["results"][0]["geometry"]["location"]["lat"]
        distinct_locations_df.loc[index, 'latitude'] = geo_data["results"][0]["geometry"]["location"]["lng"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [ ]:
#Set the location2 column as the index 
distinct_locations_df = distinct_locations_df.set_index("location2")

In [ ]:
#Get the number of times a location popped up (using the original dataframe)
weights_group = df.groupby(["location2"])
weights = weights_group["location2"].count()

#Create a new column in the distinct locations dataframe for number of instances
distinct_locations_df["Number of Job Postings"] = weights
distinct_locations_df

In [ ]:
# Store latitude and longitude in locations
locations = distinct_locations_df[["longitude","latitude"]]

# Convert the Number of Instances column to float so that it can be used as weights in the DF
weights = distinct_locations_df["Number of Job Postings"].astype(float)

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = weights,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

#save fig 
plt.savefig('heatmap.png')

# Display figure
fig

In [ ]:
#Group the data by state and get postings by state
state_groups = distinct_locations_df.groupby(["state"])
total_listings = state_groups.sum()
total_listings= total_listings.reset_index()
total_listings = total_listings.sort_values("Number of Job Postings", ascending = False)
total_listings

In [ ]:
#Create a bar chart
import matplotlib.pyplot as plt

total_listings.plot.bar(x="state", y="Number of Job Postings", 
                        title = "Number of Job Listings by State", align="center",legend=False)
plt.ylabel("Number of Job Listings")

#Show and save chart
plt.savefig('joblistingsbystatebarchart.png', bbox_inches = 'tight')