In [1]:
import pandas as pd
import numpy as np
file= "alldata.csv"

In [2]:
df = pd.read_csv(file)
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [3]:
del df['reviews']
del df['description']

In [4]:
# df['position'].value_counts()

In [5]:
# df['location'].value_counts()

In [6]:
locations= df.groupby(['location'])
locations.count()

                        position  company
location
Alameda, CA                    7        7
Alameda, CA 94501              3        3
Allendale, NJ                  2        2
Atlanta, GA                  147      147
Atlanta, GA 30301             14       14
Atlanta, GA 30303              3        3
Atlanta, GA 30306              1        1
Atlanta, GA 30308             10       10
Atlanta, GA 30309             12       12
Atlanta, GA 30313              1        1
Atlanta, GA 30318             27       27
Atlanta, GA 30319              7        7
Atlanta, GA 30322              1        1
Atlanta, GA 30326              6        6
Atlanta, GA 30327              2        2
Atlanta, GA 30328              4        4
Atlanta, GA 30329              1        1
Atlanta, GA 30332              1        1
Atlanta, GA 30338             19       19
Atlanta, GA 30339              1        1
Atlanta, GA 30341              3        3
Atlanta, GA 30342              4        4
Atlanta, GA 30345              1        1
Atlanta, GA 30350              1        1
Atlanta, GA 30361              1        1
Atlanta, GA 30363              2        2
Austin, TX                   156      156
Austin, TX 73344               7        7
Austin, TX 78701               8        8
Austin, TX 78702               3        3
...                          ...      ...
Walnut Creek, CA 94596         1        1
Washington, DC               230      230
Washington, DC 20001          20       20
Washington, DC 20002           2        2
Washington, DC 20003           7        7
Washington, DC 20004           2        2
Washington, DC 20005          14       14
Washington, DC 20006           8        8
Washington, DC 20007           1        1
Washington, DC 20009           5        5
Washington, DC 20010           1        1
Washington, DC 20020           1        1
Washington, DC 20022           4        4
Washington, DC 20024           6        6
Washington, DC 20032           1        1
Washington, DC 20036          16       16
Washington, DC 20037           8        8
Washington, DC 20044           3        3
Washington, DC 20229           1        1
Washington, DC 20230           2        2
Washington, DC 20301           1        1
Washington, DC 20318           3        3
Washington, DC 20376           1        1
Washington, DC 20422           1        1
Washington, DC 20535           1        1
Washington, DC 20585           1        1
West Orange, NJ 07052          1        1
Whippany, NJ                   1        1
Woodcliff Lake, NJ             1        1
Yonkers, NY 10701              1        1

[382 rows x 2 columns]

In [7]:
# df = df['location'].apply(lambda x: pd.Series(x.split(',')))
df['location'] = df['location'].str.split(',', expand=True)

df.head()

,position,company,location
0,Development Director,ALS TDI,Atlanta
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,Atlanta
2,Data Scientist,Xpert Staffing,Atlanta
3,Data Analyst,Operation HOPE,Atlanta
4,Assistant Professor -TT - Signal Processing & ...,Emory University,Atlanta