In [1]:
from collections import Counter
import pandas as pd
import numpy as np
import re
import nltk
file= "alldata.csv"

In [2]:
df = pd.read_csv(file)

In [3]:
df=df.dropna(how='all')

In [4]:
# droppping reviews column
del df['reviews']
# del df['description']

In [5]:
#sorting out location
citystatezip= df['location'].apply(lambda x: "".join(x.split(",")))
citystatezip2 = citystatezip.apply(lambda x: x.split(" "))
city = citystatezip2.apply(lambda x: x[0])
state = citystatezip2.apply(lambda x: x[1])
df['location'] = city + ", " + state
df.head()

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"

In [6]:
# running our 'query' through the position column, marking found words as true
try:
    df['positiontxt'] = df['position']
    df['position'] = df['position'].str.contains('data|science|database|analytics|statistician|machine learning|business intelligence', flags=re.IGNORECASE, regex=True)

except AttributeError:
    print("stupid error makes no sense")
    
df.loc[df['position'] == True].count()

position       2739
company        2739
description    2739
location       2739
positiontxt    2739
dtype: int64

In [7]:
#dropping the false results
df.drop(df[df['position'] == False].index, inplace=True)
df.count()

position       2739
company        2739
description    2739
location       2739
positiontxt    2739
dtype: int64

In [8]:
# adding a new column using our 'query' name as the new position title
df.loc[df.positiontxt.str.contains('analytics', case=False), 'broadpos'] = 'Analyst'
df.loc[df.positiontxt.str.contains('statistician', case=False), 'broadpos'] = 'Statistician'
df.loc[df.positiontxt.str.contains('machine learning', case=False), 'broadpos'] = 'Machine Learning'
df.loc[df.positiontxt.str.contains('business intelligence', case=False), 'broadpos'] = 'Business Intelligence'
df.loc[df.positiontxt.str.contains('science', case=False), 'broadpos'] = 'Science'
df.loc[df.positiontxt.str.contains('database', case=False), 'broadpos'] = 'database'
df.loc[df.positiontxt.str.contains('data', case=False), 'broadpos'] = 'data'




df

,position,company,description,location,positiontxt,broadpos
2,True,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA",Data Scientist,data
3,True,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA",Data Analyst,data
4,True,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA",Assistant Professor -TT - Signal Processing & ...,Machine Learning
5,True,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,"Atlanta, GA",Manager of Data Engineering,data
9,True,KPMG,Known for being a great place to work and buil...,"Atlanta, GA",Senior Associate - Cognitive Data Scientist Na...,data
12,True,KPMG,Innovate. Collaborate. Shine. Lighthouse — KPM...,"Atlanta, GA","Senior Associate, Data Scientist",data
14,True,Newell Brands,Data Science Analyst– Business Intelligence\nL...,"Atlanta, GA",Business Intelligence Data Science Analyst - S...,data
15,True,Cotiviti,Cotiviti is looking for an industry leading Da...,"Atlanta, GA",Data Scientist,data
18,True,Relus Cloud,DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...,"Atlanta, GA",Data Scientist,data
19,True,Inspire Brands,This position is critical to understanding dri...,"Atlanta, GA",Data Scientist,data
22,True,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,"Atlanta, GA",Data Scientist,data
23,True,The Home Depot,POSITION PURPOSE:\nA Data Scientist leverages ...,"Atlanta, GA",DATA SCIENTIST - Supply Chain,data
24,True,Equifax,Job Number: 16614\nPosition Title:\nExternal D...,"Atlanta, GA","Data Scientist, Keying & Linking",data
25,True,AirSage,AirSage has been in the business of providing ...,"Atlanta, GA",Data Scientist,data
26,True,The Home Depot,POSITION PURPOSE:\nThe Data Scientist I will p...,"Atlanta, GA",Data Scientist 1 – AP Forensics Team,data
27,True,Georgia Tech Research Institute,"Full-time, permanent position available starti...","Atlanta, GA",Data Scientist - ICL,data
28,True,The Home Depot,"Position Purpose:\nAt HomeDepot.com, our award...","Atlanta, GA","Data Scientist, Online",data
29,True,Capgemini,Overview:\nConsultant\n\nThe Data Science &amp...,"Atlanta, GA",Data Scientist - CONSULTANT Level - ORLANDO FL...,data
30,True,Catalina Marketing,Sr. Data Scientist\n\nWHY CATALINA\n\nCatalina...,"Atlanta, GA",Senior Data Scientist,data
31,True,Newell Brands,Data Scientist – Business Intelligence\nLocati...,"Atlanta, GA",Business Intelligence Data Scientist - Supply ...,data
33,True,AMERICAN CANCER SOCIETY,Position Description:\nSave lives. Fulfill you...,"Atlanta, GA",Scientist - Data Analysis,data
34,True,SalesLoft,We are looking for a Data Scientist who is pas...,"Atlanta, GA",Data Scientist,data
35,True,McKesson,"RelayHealth Pharmacy Solutions (RHPS), a McKes...","Atlanta, GA",Data Scientist,data
36,True,The Intersect Group,Responsibilities:Help to drive the analytical ...,"Atlanta, GA",Data Scientist,data
38,True,OM Partners,"With demand sensing, OM Partners is breaking t...","Atlanta, GA",Data Scientist,data
39,True,The Home Depot,POSITION PURPOSE\nThe Data Scientist Space Opt...,"Atlanta, GA",DATA SCIENTIST - SPACE OPTIMIZATION,data
40,True,McKinsey & Company,"Qualifications\nAdvanced degree (MBA, MS, PhD,...","Atlanta, GA","Data Science Specialist - Periscope, New Ventures",data
41,True,Cotiviti,Cotiviti is looking for an industry leading Da...,"Atlanta, GA",Senior Data Scientist,data
42,True,Capgemini,Manager – Orlando location\n\nOverview:\nThe D...,"Atlanta, GA",Manager - Data Scientist ! Orlando!,data
44,True,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,"Atlanta, GA",Lead Data Scientist,data
...,...,...,...,...,...,...
6926,True,TARGET,Description:\nJoin the Target.com interactive ...,"Sunnyvale, CA",Lead Data Scientist - Machine Learning,data
6927,True,Walmart eCommerce,Position Description\nThe @WalmartLabs Persona...,"Sunnyvale, CA",Staff Data Scientist - Tech CA (TECH12458),data
6928,True,Amazon.com,Job Description\n\nAmazon is looking for a pas...,"Sunnyvale, CA",Machine Learning Scientist,Machine Learning
6929,True,Walmart eCommerce,Position Description\nAt Walmart Labs we’re re...,"Sunnyvale, CA","Data Scientist, Path Forward Returnship",data
6930,True,"Linc Global, Inc.",Why you should join:\n\nJoin us in building th...,"Sunnyvale, CA",Data Scientist,data
6931,True,Lab126,Job Description\nAmazon Lab126 is an inventive...,"Sunnyvale, CA",Data Scientist - Alexa Language Technologies,data
6932,True,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...","Sunnyvale, CA",Data Scientist,data
6933,True,Bosch Group,Job Description\n\nPrimary Responsibilities:\n...,"Sunnyvale, CA",Data Scientist,data
6934,True,Google,The Google Cloud Platform team helps customers...,"Sunnyvale, CA","Data Scientist, Cloud Revenue Acceleration, Go...",data
6935,True,Microsoft,Speech team at Microsoft builds the most advan...,"Sunnyvale, CA",Data & Applied Scientist,data
6936,True,Amazon.com,Job Description\nAmazon Lab126 is an inventive...,"Sunnyvale, CA",Data Scientist - Alexa Language Technologies,data
6937,True,Arosys,Are you a driven and inquisitive data scientis...,"Sunnyvale, CA",Data Scientist / Data Analyst,data
6938,True,Lab126,Job Description\nTo truly become the worlds mo...,"Sunnyvale, CA","Data Scientist, Customer Interests & Personali...",data
6939,True,Amazon.com,Job Description\nTo truly become the worlds mo...,"Sunnyvale, CA","Data Scientist, Customer Interests & Personali...",data
6940,True,Microsoft,Come join the Office Organization as we drive ...,"Sunnyvale, CA",Principal Data Scientist,data
6941,True,Google,The Google Cloud Platform team helps customers...,"Sunnyvale, CA","Data Scientist, Engineering Support Analytics,...",data
6943,True,Walmart eCommerce,Position Description\nVoice Commerce Data Scie...,"Sunnyvale, CA",Staff Data Scientist,data
6944,True,Walmart eCommerce,Position Description\nIn this role you will\nA...,"Sunnyvale, CA","Staff Data Scientist, Search/Online Grocery",data
6945,True,Google,Google's brand is only as strong as our users'...,"Sunnyvale, CA","Machine Learning Specialist, Trust and Safety",Machine Learning
6947,True,Amazon.com,Job Description\nExternal job description\nAma...,"Sunnyvale, CA",Applied Machine Learning Scientist,Machine Learning
6949,True,Alibaba,We are the System Performance Team of Alibaba ...,"Sunnyvale, CA",Systems software Performance Data Scientist Su...,data
6951,True,TARGET,Description:\n\nAbout This Opportunity\nJoin t...,"Sunnyvale, CA",Lead Data Scientist - NLP,data
6953,True,Amazon.com,Job Description\nAmazon is looking for a passi...,"Sunnyvale, CA","Machine Learning Scientist, Amazon Alexa",Machine Learning
6955,True,Amazon.com,"Job Description\nToday, people spend too much ...","Sunnyvale, CA",Data Engineer,data
6956,True,Amazon.com,Job Description\nAlexa is Amazon's new cloud-b...,"Sunnyvale, CA","Manager, Machine Learning",Machine Learning
6957,True,TARGET,Description:\nTarget is looking for engineers ...,"Sunnyvale, CA",Lead Data Scientist - Haskell,data
6958,True,Walmart,Position Description\nProficient in Java or Py...,"Sunnyvale, CA",Senior Data Scientist (GEC11902),data
6959,True,NetApp,Are you data-driven? We at NetApp believe in t...,"Sunnyvale, CA",Data Developer / Machine Learning Analyst,data
6962,True,Microsoft,We are the Bing Core Relevance team responsibl...,"Sunnyvale, CA",Senior Data & Applied Scientist,data
6963,True,Comcast,Comcast’s Technology &amp; Product organizatio...,"Sunnyvale, CA","Principal Data Scientist, Deep Learning",data

In [9]:
# null_columns=df.columns[df.isnull().any()]
# df[null_columns].isnull().sum()

# print(df[df["broadpos"].isnull()][null_columns])