In [1]:
from collections import Counter
import pandas as pd
import numpy as np
import re
import nltk
nltk.download('stopwords')
file= "alldata.csv"

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kyleeng/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv(file)

In [3]:
df=df.dropna(how='all')
df.columns

Index(['position', 'company', 'description', 'reviews', 'location'], dtype='object')

In [4]:
del df['reviews']
df.columns

Index(['position', 'company', 'description', 'location'], dtype='object')

In [5]:
df.head()

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"

In [6]:
citystatezip= df['location'].apply(lambda x: "".join(x.split(",")))
citystatezip2 = citystatezip.apply(lambda x: x.split(" "))
city = citystatezip2.apply(lambda x: x[0])
state = citystatezip2.apply(lambda x: x[1])
df['location'] = city + ", " + state

In [7]:
try:
    df.rename(columns = {"positiontxt": "position"})
    df['position'] = df[df['position'].str.contains('data|science|database|analytics|statistician|machine learning|business intelligence', 
                                                 flags=re.IGNORECASE, regex=True)]
        

except AttributeError:
    print("stupid error makes no sense")
    
# df.loc[df['position'] == True].count()

In [8]:
df['position']

0                                                     NaN
1                                                     NaN
2                                          Data Scientist
3                                            Data Analyst
4       Assistant Professor -TT - Signal Processing & ...
5                             Manager of Data Engineering
6                                                     NaN
7                                                     NaN
8                                                     NaN
9       Senior Associate - Cognitive Data Scientist Na...
10                                                    NaN
11                                                    NaN
12                       Senior Associate, Data Scientist
13                                                    NaN
14      Business Intelligence Data Science Analyst - S...
15                                         Data Scientist
16                                                    NaN
17                                                    NaN
18                                         Data Scientist
19                                         Data Scientist
20                                                    NaN
21                                                    NaN
22                                         Data Scientist
23                          DATA SCIENTIST - Supply Chain
24                       Data Scientist, Keying & Linking
25                                         Data Scientist
26                   Data Scientist 1 – AP Forensics Team
27                                   Data Scientist - ICL
28                                 Data Scientist, Online
29      Data Scientist - CONSULTANT Level - ORLANDO FL...
                              ...
6934    Data Scientist, Cloud Revenue Acceleration, Go...
6935                             Data & Applied Scientist
6936         Data Scientist - Alexa Language Technologies
6937                        Data Scientist / Data Analyst
6938    Data Scientist, Customer Interests & Personali...
6939    Data Scientist, Customer Interests & Personali...
6940                             Principal Data Scientist
6941    Data Scientist, Engineering Support Analytics,...
6942                                                  NaN
6943                                 Staff Data Scientist
6944          Staff Data Scientist, Search/Online Grocery
6945        Machine Learning Specialist, Trust and Safety
6946                                                  NaN
6947                   Applied Machine Learning Scientist
6948                                                  NaN
6949    Systems software Performance Data Scientist Su...
6950                                                  NaN
6951                            Lead Data Scientist - NLP
6952                                                  NaN
6953             Machine Learning Scientist, Amazon Alexa
6954                                                  NaN
6955                                        Data Engineer
6956                            Manager, Machine Learning
6957                        Lead Data Scientist - Haskell
6958                     Senior Data Scientist (GEC11902)
6959            Data Developer / Machine Learning Analyst
6960                                                  NaN
6961                                                  NaN
6962                      Senior Data & Applied Scientist
6963              Principal Data Scientist, Deep Learning
Name: position, Length: 6953, dtype: object

In [9]:
df = df.dropna(how= 'any')
df.count()
df.head()
df.reset_index()
df.head()

,position,company,description,location
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,"Atlanta, GA"
9,Senior Associate - Cognitive Data Scientist Na...,KPMG,Known for being a great place to work and buil...,"Atlanta, GA"

In [10]:
descriptionList = df['description'].str.lower().str.split(" |,|/")
# descriptionList.str.count('python')

df.description.str.contains(r'python')

# df.words.str.contains(r'he|wo')

# counts = Counter(descriptionList[1])
# print(counts)



# skillsList = []
# for row in descriptionList:
#      skillsList.append(row)
# skillsList

2       False
3       False
4       False
5       False
9       False
12      False
14      False
15      False
18      False
19       True
22      False
23      False
24      False
25      False
26      False
27       True
28      False
29      False
30       True
31      False
33      False
34      False
35      False
36      False
38      False
39      False
40      False
41      False
42      False
44      False
        ...
6926    False
6927    False
6928    False
6929    False
6930    False
6931    False
6932    False
6933    False
6934    False
6935    False
6936    False
6937    False
6938    False
6939    False
6940    False
6941    False
6943    False
6944    False
6945    False
6947    False
6949    False
6951    False
6953    False
6955    False
6956    False
6957    False
6958    False
6959    False
6962    False
6963    False
Name: description, Length: 2739, dtype: bool